<div>
    <h3>{{post.title}}</h3>
    <img src="{{post.image}}" alt="picture" style="height:300px; width:100%">
    <h5> <a href="/posts/user/{{post.user._id}}"> More posts from {{post.user.username}}</a></h5>
    <p>{{post.body}}</p>
</div>